.publicUrl {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 12px;
  background-color: rgb(250, 255, 255);
  border: 1px ridge rgb(204, 216, 218);
  cursor: pointer;
  margin-bottom: 32px;
  &:hover {
    border-width: 2px;
  }
  &:active {
    background-color: rgb(194, 245, 245);
  }
}

.checkmark {
  display: inline-block;
  width: 21px;
  height: 21px;
  font-weight: 500;
  padding: 4px;
  border-radius: 50%;
  background-color: rgb(25, 233, 122);
  color: white;
  border: 1px solid rgb(233, 231, 231);
  margin-right: 4px;
  line-height: 12px;
}

.linksContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: center;
}
