.error-label {
  color: rgb(202, 15, 15);
  font-style: italic;
  font-size: 12px;
  margin-bottom: 4px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
  }
}

.visible {
  visibility: visible;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  border: 1px solid gray;
  font-size: 1rem;

  &:hover:enabled {
    border: 1.5px inset gray;
  }
}

.icon-button {
  &:hover {
    transform: scale(1.1);
  }
}
