.error-label {
  color: rgb(202, 15, 15);
  font-style: italic;
  font-size: 12px;
  margin-bottom: 4px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: fit-content;

  form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: fit-content;
  }
}

.visible {
  visibility: visible;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  border: 1px solid gray;
  font-size: 1rem;

  &:hover:enabled {
    border: 1.5px inset gray;
  }
}

.icon-button {
  &:hover {
    transform: scale(1.1);
  }
}

.link {
  color: rgb(24, 136, 227);
  &:hover {
    filter: brightness(0.8);
  }
}

.divider {
  border: 1px solid oklch(92.9% 0.013 255.508);
  width: 100%;
  margin: 8px;
}
