@import "tailwindcss";

@layer base {
  h2 {
    @apply text-xl mb-6 font-semibold;
  }

  label {
    @apply mb-2;
  }

  button:disabled {
    @apply text-slate-400;
  }
}

@theme {
  --border-inset: "inset";
}
