:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 2rem;
}

input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  margin-bottom: 16px;
}

button {
  cursor: pointer;

  &:hover:enabled {
    filter: brightness(0.8);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

a {
  cursor: pointer;
}

span[class^="mgc_"] {
  font-size: 24px;
}

[class^="mgc_"]::before,
[class*=" mgc_"]::before {
  color: inherit !important;
}
